:root {
  --branding-color: #6c63ff;
  --secondary-color: #272142;
  --heading-font: "Playfair Display", serif;
  --basic-font: "Poppins", sans-serif;
}
h1 {
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
p {
  font-family: var(--basic-font);
  font-weight: normal;
  font-size: 16px;
  color: var(--secondary-color);
  line-height: 30px;
}
.hero {
  background-color: #f9f7fe;
  text-align: center;
  padding: 70px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-color);
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
  color: var(--secondary-color);
}
.btn-branding {
  padding: 18px, 30px, 18px, 30px;
  color: #ffff;
  background-color: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}
h2 {
  font-size: 64px;
}
.btn-branding-outline {
  color: var(--branding-color);
  padding: 18px, 30px, 18px, 30px;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80x 10px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
}
.content-container {
  padding: 70px 20px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container p {
  font-size: 16px;
  color: var(--secondary-color);
  opacity: 70%;
}
.content-container h2 {
  font: var(--basic-font);
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
}
.content {
  margin: 30px;
}
.content h3 {
  font-size: 24px;
  font-family: var(--basic-font);
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
}
.nav-link {
  padding: 0 40px !important;
  font-weight: bold !important;
}
.active {
  color: var(--branding-color) !important;
}
.logo {
  max-width: 80px;
  max-height: 80px;
}
